<div class="video-card-component">
  <mat-card *ngIf="video" class="video-card">
    <mat-card-header>
      <div [style.background-image]="'url('+this.vs.uri+'/thumb/'+video._id+')'" mat-card-avatar
        class="example-header-image"></div>
      <mat-card-title *ngIf="vindex !== NaN" [routerLink]="'/video/'+video._id">Class {{vindex+1}}</mat-card-title>
      <mat-card-title *ngIf="vindex === NaN" [routerLink]="'/video/'+video._id">Last Watched</mat-card-title>
      <mat-card-subtitle>{{subcard}}</mat-card-subtitle>
    </mat-card-header>
    <div class="video-image" width="400" [style.margin-bottom]="0"
      [style.background-image]="'url('+this.vs.uri+'/thumb/'+video._id+')'">
      <div class="duration"><span>{{millisToMinutesAndSeconds(video.videoDuration)}}</span>
      </div>
    </div>
    <div class="progress " style="height: 2px;margin: 0 -16px 16px -16px;">
      <span class="progress-bar" style="height: 2px;display: block;">
        <span [style.width]="percent+'%'" role="presentation" class="progress-completed"
          style="height: 2px;display: block;background: red;">
        </span>
      </span>
    </div>
    <mat-card-content>
      <p style="-webkit-box-orient: vertical !important;" class="video-name">{{video.name}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="'/video/'+video._id" mat-button>Watch</button>
      <button mat-button>Share</button>
    </mat-card-actions>
  </mat-card>
</div>