<mat-toolbar color="primary">
    <mat-toolbar-row>
    <a [routerLink]="['/']"><span>{{title}}</span></a>
    <span class="example-spacer"></span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <a [routerLink]="['/courses']"><button mat-button>Classes</button></a>
        <a [routerLink]="['/login']"><button mat-button>Login</button></a>
        <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a [routerLink]="['/video/upload']"><button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Upload Video</span>
      </button></a>
      <a [routerLink]="['/course/create']"><button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Create Course</span>
      </button></a>
      <a [routerLink]="['/video/upload']"><button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Create Module</span>
      </button></a>
    </mat-menu>
     </mat-toolbar-row>
</mat-toolbar>
<div  id="content"><router-outlet></router-outlet></div>
