.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  color: white;
}

@media only screen and (max-width: 400px) {
  .hide-on-mobile {
    display: none;
  }
}

.backshow {
  width: 24px;
  -webkit-transition: width 0.3s; /* Safari */
  transition: width 0.3s;
  opacity: 1;
}

.backhide {
  opacity: 0;
  width: 0px;
  -webkit-transition: width 0.3s; /* Safari */
  transition: width 0.3s;
}