<mat-toolbar color="primary">
  <mat-toolbar-row class="docs-primary-header component-page-header">
    <mat-icon (click)="this._location.back()" class="backhistory-icon">keyboard_backspace</mat-icon>
    <span>{{videoName}}</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div id="wrapper">

  <div class="video-container">
    <video data-setup='{ "aspectRatio":"16:9", "playbackRates": [0.5, 1, 1.5, 2]}' #myvid
      class="video-js vjs-big-play-centered mini-play" [attr.src]="videoURL" (timeupdate)="onTimeUpdate($event)"
      (loadedmetadata)="videoLoaded($event)"
      style.background-image="url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)"
      preload="metadata" id="videoPlayer">
      <source src="data:video/webm;base64," type="video/mp4">
    </video>
  </div>
  <div class="mat-body description" style="
    border-left: 2px #de2c2c solid;
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
">
    <div class="example-header-image mat-card-avatar" mat-card-avatar="" [style.background-image]="getThumbURL()"
      style="height: 40px;width: 40px;border-radius: 50%;flex-shrink: 0;object-fit: cover;background-size: cover;">
    </div>
    <div style="
    padding: 0 20px;
">
      <p style="
    margin: 0;
">Description: {{description}} </p>
      <p _ngcontent-c5="" class="tags">Tags: {{tags}}</p>
    </div>
  </div>

  <mat-list #commentList>
    <h2 class="mat-h2" style="
      padding: 0 16px;
      margin-bottom: 6px;
    ">Comments ({{comments.length}})</h2>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let item of comments; let i = index">{{item?.user}} comentou: {{item?.content}}
    </mat-list-item>
  </mat-list>
  <form (keydown)="keyDownFunction($event)" class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" [(ngModel)]="username" name="name" disabled required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <textarea matInput [(ngModel)]="comment" name="comment" placeholder="Description"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button id="comment" mat-raised-button type="button" (click)="create_comment()" color="primary">Comment</button>
  </form>
</div>