<mat-toolbar color="primary">
  <mat-toolbar-row class="docs-primary-header component-page-header">
    <span>Sugested Courses</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="lastWatchedVideo.video" id="last_watched">
  <app-video-card [video]="lastWatchedVideo.video" [subcard]="lastWatchedVideo.localeDateTime"
    [percent]="lastWatchedVideo.percent"></app-video-card>
</div>
<div class="classes-list" *ngFor="let course of coursesAndDataWithVideos; let c = index">
  <h2 class="mat-h2">{{course.name}}
    ({{course.watchedCount}}/{{course.totalVideos}})
    <span [routerLink]="'/class/'+course._id" class="view-all">View all</span>
  </h2>
  <p class="mat-body">{{course.description}}</p>
  <div class="videos dragscroll">
    <app-video-card *ngFor="let video of course.videos; let v = index" [vindex]="v" [subcard]="course.name" [video]="video"
      [percent]="percents[video._id]"></app-video-card>

  </div>
  <mat-divider></mat-divider>
</div>