@media only screen and (min-width: 1000px) {
    .videos::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background: white;
    }
    /* Track */
    .videos::-webkit-scrollbar-track {
        box-shadow: none;
        border-radius: 10px;
    }
    /* Track */
    .videos:hover::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #eeeeee;
        border-radius: 10px;
    }
    /* Handle */
    .videos::-webkit-scrollbar-thumb {
        background: #ff000000;
        border-radius: 10px;
    }
    /* Handle on hover */
    .videos:hover::-webkit-scrollbar-thumb {
        background: #c8c8c8;
        transition: 0.2s ease-in;
    }
}

.videos {
    max-width: 100%;
    overflow-x: auto;
    position: relative;
    display: flex;
    height: 100%;
}

.view-all {
    color: #e53935;
    font-weight: 100;
    float: right;
}

app-video-card {
    flex: 0 0 30%;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

@media only screen and (max-width: 470px) {
    app-video-card {
        flex: 0 0 90%;
        width: 90%;
        padding: 10px;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 1000px) {
    app-video-card {
        flex: 0 0 18%;
        width: 18%;
        padding: 10px;
        box-sizing: border-box;
    }

    #last_watched {
        width: 50%;
        margin: auto !important;
    }
}

